.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background-color: rgba(4, 17, 5, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 50px;
  min-width: 80px;
  z-index: 21;
  background-color: #fff;
  box-shadow: 0 0 30px #303030;
  padding: 20px;
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.7rem;
  margin: 0;
}

.fields_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.field_name {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.0rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
}

.field {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.0rem;
  height: 30px;
  width: 200px;
  margin-left: 15px;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #5e5e5e;
}

.errorMessage {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.7rem;
  color: #973232;
  position: absolute;
  bottom: -25px;
  right: 0;
}

.showPasswordButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #ffffff00;
  box-shadow: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.buttons_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.accept_button {
  height: 35px;
  min-width: 120px;
  margin-top: 0;
  margin-right: 15px;
  color: #fff;
  background-color: #303030;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0rem;
}

.accept_button:hover {
  box-shadow: 0 0 10px #8b8b8b;
  background-color: #444444;
}

.accept_button:active {
  background-color: #141414;
  box-shadow: none;
}

.reject_button {
  height: 35px;
  min-width: 120px;
  margin-top: 0;
  margin-right: 15px;
  color: #fff;
  background-color: #919191;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0rem;
}

.reject_button:hover {
  box-shadow: 0 0 10px #b6b6b6;
  background-color: #afafaf;
}

.reject_button:active {
  background-color: #6b6b6b;
  box-shadow: none;
}